.App {
  text-align: center;
}

#map {
  min-height: 100vh;
}

#heading {
  font-size: 150%;
  margin: 5px;
}

#list {
  width: 30%;
  height: 100%;
  background-color: lightgrey;
  z-index: 1;
  position: absolute;
  overflow-y: scroll;
}
